<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Login</title>
</head>
<body>
<div class="login-page-wrapp d-flex">
    <div class="login-form-wrap d-flex align-items-center">
        <div class="form-card card ml-auto">
            <div class="card-body">
                <h4 class="card-title">Please Login</h4>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Enter username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password"/>
                    </div>
                    <div class="auth-buttons">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-success" href="/registration">Registration</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.login-form-wrap -->
    <div class="login-greeting-screen d-flex align-items-center">
        <div class="login-greeting-screen-text">
            <h1 class="login-greeting-screen-title">Welcome to Netfilms</h1>
            <p class="login-greeting-screen-description">
                Sign up for our Watching Newsletter to get recommendations on the best films and TV shows to stream and
                watch, delivered to your inbox.<br>
                The sheer volume of films on Netfilms and the site’s less than ideal interface can make finding a
                genuinely great movie there a difficult task. <br>To help, we’ve plucked out the 50 best films currently
                streaming on the service in the United States, updated regularly as titles come and go.
            </p>
        </div>
    </div>
    <!-- /.login-greeting-screen -->
</div>
<!-- /.login-page-wrapp -->
</body>
</html>
